.title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
}

body{
  font-family: Arial, sans-serif;
  margin: 0;
}

.artContent{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.Member{
  
  border: 2px solid #c46d09;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.Member img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;

}
.Member .Setter{
  font-weight: bold;
}

.Member .FavCoun{
  cursor: pointer;
  margin-left: auto;
}

.start{
  text-align: center;
  margin-top: 20px;
}

.count{
  padding-left: 10px;
}

.HeartCount{
  border: none;
  height: 60px;
  width: 60px;
  color: purple;
  cursor: pointer;
  background: none;
}